global_defs {
  router_id {{ inventory_hostname }}
  enable_script_security
}

vrrp_instance VI_LIMA_CORE {
  state {{ vrrp_state }}
  interface {{ core_vrrp_interface }}
  virtual_router_id 51
  priority {{ vrrp_priority }}
  advert_int 3

  preempt_delay 20

  garp_master_delay 1
  garp_master_repeat 5
  garp_master_refresh 10
  garp_master_refresh_repeat 2

  authentication {
    auth_type PASS
    auth_pass {{ vrrp_auth_pass }}
  }

  unicast_src_ip {{ core_vrrp_src_ip }}
  unicast_peer {
    {{ core_vrrp_peer_ip }}
  }

  virtual_ipaddress {
{% for svi in svis %}
    {{ svi.vip }}/{{ svi.prefix }} dev {{ svi.ifname }}
{% endfor %}
  }
}
