; ============================================================
; JHALEX PERU S.A.C. - FASE 11A
; RTP Asterisk Lima
; Gestionado por Ansible
; ============================================================

[general]
rtpstart={{ fase11a_rtp_start }}
rtpend={{ fase11a_rtp_end }}
icesupport=no
strictrtp=yes
