[Unit]
Description=JHALEX SWCORELIM1 OVS Core Bridge and Bonds
After=network-online.target openvswitch-switch.service
Wants=network-online.target
Requires=openvswitch-switch.service

[Service]
Type=oneshot
ExecStart={{ ovs_script_path | default('/usr/local/sbin/jhalex-swcorelim1-ovs.sh') }}
RemainAfterExit=yes

[Install]
WantedBy=multi-user.target
