#!/usr/bin/bash

# =============================================================================
# SERVICIO SYSTEMD: jhalex-swdistlim1-ovs.service
# =============================================================================
[Unit]
Description=JHALEX OVS Configuration Service para SWDISTLIM1
After=network.target openvswitch-switch.service
Wants=openvswitch-switch.service

[Service]
Type=oneshot
ExecStart=/usr/local/sbin/jhalex-swdistlim1-ovs.sh
User=root
Group=root
StandardOutput=journal
StandardError=journal

[Install]
WantedBy=multi-user.target
