Server={{ fase10d_zabbix_server_ip }}
ServerActive={{ fase10d_zabbix_server_ip }}
Hostname={{ fase10d_zabbix_agent_hostname }}
ListenIP={{ fase10d_zabbix_listen_ip }}
ListenPort={{ fase10d_zabbix_listen_port }}
Include=/etc/zabbix/zabbix_agent2.d/*.conf
